
extends layout
block content
    h1= title
    style.
        .chocolateAttr {
            background-color: red;
            width: 100%;
            }

    - let chocolateid = toShow._id
    - let chocolatetype = toShow.chocolatetype
    - let chocolatebrand = toShow.chocolatebrand
    - let chocolatecost = toShow.cost
    div
        div.row
            div(class='chocolateAttr mr-3') Chocolate Id is: 
            div #{chocolateid}
        div.row
            div(class='chocolateAttr mr-3') Chocolate Type is: 
            div #{chocolatetype}
        div.row
            div(class='chocolateAttr mr-3') Chocolate Brand is: 
            div #{chocolatebrand}
        div.row
            div(class='chocolateAttr mr-3') Chocolate Cost is: 
            div #{chocolatecost}        