extends layout

block content
  h1= title

  -let items = results
  a(class="btn btn-outline-success" href="/chocolate/create") Create
  .container-fluid
      for result, index in results
        - let destination = `dispatch("/chocolate/update?id=${result._id}")`
        .col-m-2(onclick=`buy(${index})`)
          div
            div
              div(class='chocolateAttr mr-3') Chocolate ID is: #{result._id}
            div
              div(class='chocolateAttr mr-3') Chocolate Type is: #{result.chocolatetype}
            div.row
              div(class='chocolateAttr mr-3') Chocolate Brand is: #{result.chocolatebrand}
            div.row
              div(class='chocolateAttr mr-3') Chocolate Cost is: #{result.cost}
        button.btn(class="btn btn-outline-primary", onclick= destination) Update
        a(class="btn btn-outline-danger" href=`/chocolate/delete?id=${result._id}`) Delete
        a(class="btn btn-outline-info" href=`/chocolate/detail?id=${result._id}`) Details

  script.
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }
    function dispatch(path) {
      window.location.href = path;
    }